/***
name:jsun_accord手风琴
***/
body{
	background-color:#EEEFF1;
}
.jfun_accord{
	padding: 0;
	margin: 0;
}
.jfun_accord>li>.title
{
 color: #ffffff;
 font-size: 15px;
 background-color:rgb(166, 140, 248);
 margin: 0;
 border-bottom: 1px solid white;
 padding: 5px;
 border-radius: 0px;
 background: url(../images/learnicon.png) rgb(166, 140, 248) no-repeat 2px -42px scroll;
 padding-left: 25px;
}

.jfun_open{
	background: url(../images/learnicon.png) rgb(166, 140, 248) no-repeat 2px 4px scroll;
}
.jfun_accord .box{
margin: 0;
display: none;
border: 1px solid #ffffff;
padding: 0px 10px;
border: 1px solid rgb(61, 236, 236);
border-top: 0px;
}
