/***
name:jsun_tooltip
***/
body{
	background-color:#EEEFF1;
}

.jfun_dropmenu{
	width: 80px;
	float: left;
}
/*title of menu*/
.jfun_dropmenu>a{
	width: 100%;
	height: 30px;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
	white-space: noWrap;
	
	background: #51a351;
	display: block;
}
.jfun_dropmenu>a:hover{
	background: red;
}
/*all menu ul*/
.jfun_dropmenu ul{
	display: none;
	list-style: none;
	margin: 2px 0 0 0;
	padding: 5px 0px 5px 0px;
	background:white;
	border:1px solid #ccc;
	zoom:1;
	float: left;
	box-shadow: 2px 2px 5px 1px rgb(230, 198, 198);
	border-radius: 5px 5px;
	min-width: 80px;
}
/*all menu li*/
.jfun_dropmenu li
{

	line-height: 30px;
	color: #000;
	cursor: pointer;
	padding-right: 20px;
	
}
.jfun_dropmenu li:hover
{
	background-color: #0081c2;
}
.jfun_dropmenu li:hover >a
{
	color: #fff;
}
/*all menu a*/
.jfun_dropmenu ul>li>a
{
	text-decoration: none;
	line-height: 30px;
	color: #000;
	white-space: noWrap;
	display: block;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
	padding-left: 10px;
	padding-right: 0px;
}
/*sub menu*/
.jfun_sub_menu{
	position: relative;
}
/*sub menu ul*/
.jfun_sub_menu ul{
	position: absolute;
	left: 100%;
	top:-8px;
	display: none;
}

/*main menu arrow*/
.caret {
display: inline-block;
width: 0;
height: 0;
vertical-align: top;
border-top: 4px solid rgb(255, 250, 250);
border-right: 4px solid transparent;
border-left: 4px solid transparent;
content: "";
position: relative;
top: 12px;
margin: 0 2px;
}
/*sub menu arrow*/
.sub_caret{
display: inline-block;
width: 0;
height: 0;
vertical-align: top;
border-left: 4px solid rgb(0, 0, 0);
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
content: "";
position: relative;
top: 12px;
margin: 0 2px;
float:right;
opacity: 0.5;
filter:alpha(opacity=50);
}
