<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS之directive</title>   
        <!-- Bootstrap -->
        <link href="../global/css/bootstrap.min.css" rel="stylesheet">
        <link href="../jfunUI/css/jfun_tooltip.css" rel="stylesheet">        
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="../global/js/html5shiv.js"></script>
        <script src="../global/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="margin:5px 10px" ng-app="MyApp" ng-controller="myCtrl">
        
          <div class="panel panel-primary">
             <div class="panel-heading">条件化显示<small>---四套不同的指令</small></div>        
             <div class="panel-body">
                <p>
                    <kbd>ng-show/ng-hide</kbd>
                    用于隐藏和显示
                    <code>
                        &lt;div ng-show="showFlag"&gt;&lt;/div&gt;
                    </code>
                </p>
                <p>
                    <kbd>ng-switch</kbd>
                    用于动态增加和移除DOM节点，配合指令[on/ng-switch-when/ng-switch-default]
                    <pre>
&lt;div <b>ng-swicth on="showFlag"</b>&gt;
    &lt;div <b>ng-switch-when="1"</b>&gt;Secret-1&lt;/div&gt;
    &lt;div <b>ng-switch-when="2"</b>&gt;Secret-2&lt;/div&gt;
    &lt;div <b>ng-switch-when="3"</b>&gt;Secret-3&lt;/div&gt;
    &lt;div <b>ng-switch-default</b>&gt;Won't show you my secrets!&lt;/div&gt;
&lt;/div&gt;
                    </pre>
                    在一个ng-swicth中可以使用多个<b>ng-switch-when</b>
                </p>
                <div class="alert alert-warning">
                   ng-show和ng-switch的主要区别是它们对待DOM元素的方式，后者会在DOM树上增减DOM元素，前者只是简单的设置display。另外ng-switch创建了新的作用域。
                </div>
                <div class="alert alert-warning">
                    使用ng-show时，若有大量DOM节点使用可能会导致性能下降
                </div>
                
                <p>
                    <kbd>ng-if</kbd>
                    类似ng-swicth,增减DOM用于隐藏和显示
                    <code>
                        &lt;div ng-if="showFlag"&gt;&lt;/div&gt;
                    </code>
                </p>
                
                <p>
                    <kbd>ng-include</kbd>
                    根据表达式的求值结果，有条件的加载和现在子模板，该指令<b>为其包含的每个子模板创建了新的作用域</b>
                    <code>
                        &lt;div ng-include="user.admin&&'edit.admin.html'||'edit.user.html'"&gt;&lt;/div&gt;
                    </code>
                </p>
            </div>         
        </div>
        
        <div class="panel panel-primary">
             <div class="panel-heading">ngRepeat<small>---经过高度优化，减少对DOM树的影响</small></div>        
             <div class="panel-body">
                <p>
                <kbd>ng-repeat</kbd>
                ngRepeat不是只运行一次单纯的for循环，会移动/删除/插入DOM节点。试图将集合的item映射到对于的DOM节点。
                <pre>
&lt;tr ng-repeat="user in users"&gt;
    &lt;td&gt;{ {user.name} }&lt;/td&gt;
&lt;/tr&gt;
                </pre></p>
                 <div class="alert alert-warning">
                   特殊变量，在ngRepeat的作用域范围内中都可以使用：
                   <kbd>$index</kbd>指代元素在集合中的索引数字，从0开始。
                   <kbd>$first/$middle/$last</kbd>根据元素的位置获得对应的布尔值，</br>
                   
                </div>
             </div>
        </div>
        
        <div class="panel panel-primary">
             <div class="panel-heading">ngClass<small>---动态设置样式</small></div>        
             <div class="panel-body">
                <p>
                <kbd>ng-class</kbd>
                ngClass指令接受对象作为参数。该对象的键是类名，而值是条件表达式。键指定的类会根据值对应表达式求值的结果而添加或移除。
                </p>
                <p>
                <code>
                ng-class="{'dark-grey':!$index%2,'light-gray':$index%2}}"
                </code>
                </p>
                 <p>
                <kbd>ng-class-event和ng-class-odd</kbd>
                ngClassEven和ngClassOdd指令只是更通用的ngClass指令的特列。
                </p> 
             </div>
        </div>
        <div class="panel panel-primary">
             <div class="panel-heading">DOM事件处理器<small></small></div>        
             <div class="panel-body">
                <p>
                <kbd>ng-click</kbd>
                点击事件<code> &ltbutton ng-click='clicked(name)'&gt;Click me!&lt/button&gt;</code>。
                clicked()表达式在当前的$scope上求值，所有它能轻易调用定义在此作用域上的任何方法。
                </p>
                <p>
                    <kbd>ngClick和ngDblClick</kbd>单击和双击事件
                </p> 
                <p>
                    <kbd>ngMousedown/ngMouseup/ngMouseenter/ngMouseleave/ngMousemove/ngMouseover</kbd>鼠标相关操作
                </p> 
                <p>
                    <kbd>ngKeydown/ngKeyup/ngKeypress</kbd>键盘事件
                </p> 
                <p>
                    <kbd>ngChange</kbd>ngChange和ngModel配合工作，让我们在用户输入引起模型变动时作出反应
                </p>
                <div class="alert alert-warning">
                   事件对象，处理器能够接受特别的参数$event，以表示原始的DOM事件，$event.clientX和$event.clientY
                </div>
             </div>
        </div>
        
        <div class="panel panel-primary">
             <div class="panel-heading">输入指令<small>---双向绑定</small></div>        
             <div class="panel-body">
                <p>
                <kbd>ng-bind</kbd>
                <kbd>ng-model</kbd>
                ngBind指令将$scope中的变量绑定到指定的DOM元素上。ngModel指令将$scope中的变量与DOM元素双向绑定。
                </p>
                <p>
                <pre>
&lt;div&gt;Hello &lt;span ng-bind="name"/&gt;&lt;/div&gt;
&lt;div&gt;Hello &lt;input ng-model="name"/&gt;&lt;/div&gt;
                </pre>
                <p>
                <div><kbd>ng-pattern</kbd>输入不满足正则(ng-pattern="/^[1-9]s.*j$/")的字符串则为空 <label class="label label-info" ng-bind="name"/></div>
                <div><input ng-pattern="/^[1-9]s.*j$/" placeholder="ng-pattern=/^[1-9]s*j$/" class="form-control" ng-model="name"/></div>
                </p>
                <p><div><kbd>ng-model:checkbox</kbd>选中为true，结果： <label class="label label-info" ng-bind="sex"/></div>
                <div><input type="checkbox" class="form-control" ng-model="sex"/></div>
                <div class="alert alert-warning">
                   ng-true-value="admin" ng-false-value="basic" 可以分别设置model的值
                </div>
                </p>
                <p><div>选中为admin，结果： <label class="label label-info" ng-bind="sexShow"/></div>
                <div><input type="checkbox" class="form-control" ng-true-value="12345" ng-false-value="67890" ng-model="sexShow"/></div>
                </p>
                
                <p>
                <kbd>ng-model:radio</kbd>
                只要绑定一组内的所有radio给同一模型字段，选中radio时标准HTML的value会被赋值给model
                </p>
                <p><div>选中结果： <label class="label label-info" ng-bind="radio"/></div>
                <div class="continer">
                    <div class="row">
                    <div class="col-md-3"><input type="radio" class="form-control" value="羽毛球" ng-model="radio"/></div>
                    <div class="col-md-3"><input type="radio" class="form-control" value="乒乓球" ng-model="radio"/></div>
                    <div class="col-md-6"></div>
                    </div>
                </div></br>
                <p>
                    <kbd>ng-options</kbd>动态下拉框，此属性接受理解表达式
                </p>
                <pre>
ng-options="user.name for user in users" //展现的user.name 选中后model->对象
user.name as user.name for user in users1//展现的user.name 选中后model->user.name
getFullName(user) for user in users2//展现的getFullName(user) 选中后model->对象
                </pre>
                <p><div>选中结果： <label class="label label-info" ng-bind="sel"/></div>
                <div class=" alert alert-info continer">
                    <div class="row">
	                    <div class="col-md-3"><label class="label label-info">使用数组数据源</label></div>
	                    <div class="col-md-3">
	                        <select class="form-control" ng-model="sel" ng-options="user.name for user in users">
	                            <option>请选择</option>
	                        </select>
	                    </div>
	                    <div class="col-md-3">
	                        <select class="form-control" ng-model="sel" ng-options="user.name as user.name for user in users1">
	                            <option>请选择</option>
	                        </select>
	                    </div>
	                    <div class="col-md-3">
	                        <select class="form-control" ng-model="sel" ng-options="getFullName(user) for user in users2">
	                            <option>请选择</option>
	                        </select>
	                    </div>
                    </div>
                </div>
                <div class=" alert alert-info continer">
                    <div class="row">
                        <div class="col-md-3"><label class="label label-info">使用对象数据源</label></div>
                        <div class="col-md-3">
                            <select class="form-control" ng-model="sel" ng-options="code as name for (code,name) in users3">
                                <option>请选择</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select multiple class="form-control" ng-model="sel" ng-options="name as code for (code,name) in users3">
                                <option>请选择</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="label label-info">code as name for (code,name) in users3</label>
                            <label class="label label-info">name as code for (code,name) in users3</label>
                            <label class="label label-info">多选，使用multiple</label>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        
        <div class="panel panel-primary">
             <div class="panel-heading">ngModel<small>---ngModelController</small></div>        
             <div class="panel-body">
                <p>
                <kbd>ng-model</kbd>
                ngModel指令会创建ngModelController实例，该控制器对input元素上的所有指令都有效。ngModelController负责管理存储在模型中的值与input元素显示值之前的数据绑定。同时也追踪
                视图上的值是否有效，以及它是否已经被input元素修改.
                </p>
                 <p>
                    <kbd>$parsers处理视图->模型</kbd>是一个由函数组成的数组，其中的函数会以流水线的形式被逐一调用。ngModel从DOM中读取的值会被传入$parsers中的函数，并依次被其中的解析器处理。</br>
        当用户同控制器进行交互，并且ngModelController中的$setViewValue()方法被调用时，$parsers数组中的函数会以流水线的形式被逐个调用。第一个$parse被调用后，执行结果会传递给第二个$parse，以此类推。</br>
        使用$parsers数组是实现自定义验证的途径之一。
        <pre>
ngModel.$parsers.unshift(
    function(viewValue) {
        var i = parseInt(viewValue);
        return i;
    });
        </pre>
                </p>
                <p>
                    <kbd>$formatters处理模型->视图</kbd>$formatters的值是一个由函数组成的数组，其中的函数会以流水线的形式在数据模型的值发生变化时被逐一调用。它和$parser流水线互不影响，用来对值进行格式化和转换，以便在绑定了这个值的控件中显示。</br>
        当绑定的ngModel值发生了变化，并经过$parsers数组中解析器的处理后，这个值会被传递给$formatters流水线。同$parsers数组可以修改表单的合法性状态类似，$formatters中的函数也可以修改并格式化这些值。</br>
        比起单纯的验证目的，这些函数更常用来处理视图中的可视变化。
                </p> 
             </div>
        </div>
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="../global/js/jquery.js"></script>
        <script language="javascript" src="../jfunUI/js/jquery.jfun.tooltip.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="../global/js/bootstrap.min.js"></script> 
        <script src="js/angular.js"></script> 
        <script>
            angular.module("MyApp",[]).controller("myCtrl",function($scope,$q,$timeout,$rootScope){
                //$scope.name="result";
                $scope.sexShow="result";
                $scope.users=[{name:'user.name for user in users'},{name:'SHI'},{name:'SHENG'},{name:'JIE'}];
                $scope.users1=[{name:'user.name as user.name for user in users1'},{name:'SHI'},{name:'SHENG'},{name:'JIE'}];
                $scope.users2=[{name:'getFullName(user) for user in users2'},{name:'SHI'},{name:'SHENG'},{name:'JIE'}];
                $scope.getFullName=function(user){
                    return user.name+"_fun";
                }
                $scope.users3={
                    'EN':'英国',
                    'CH':'中国',
                    'US':'美国',
                    'RU':'俄国',
                    'FR':'法国'
                };
            });
            
           function getCnt1(){
            return '<pre>var defer=$q.defer();<br/>'+
            'defer.promise.then(suc,err);<br/>'+
            'defer.reject()</pre>';
           };
           function getCnt2(){
            return ' <pre>var defer1=$q.defer();<br/>'+
            'var defer2=$q.defer();<br/>'+
            'var promiseAll=$q.all([defer1.promise,defer2.promise]);<br/>'+
            'defer1延迟1S后承诺，defer2延迟3S后承诺，3S后调用成功<br/>'+
            '若defer1和defer2都reject，则1S后调用失败</pre>';
           };
           function getCntWhen(){
            return ' <pre>var defer1=$q.defer();<br/>'+
            'var promiseAll=$q.all([defer1.promise,$q.when("aaa")]);<br/>'+
            'defer1延迟1S后承诺，<br/>'+
            '</pre>';
           };
        </script>
    </body>
</html>